.pantallaDeInicioDeSesinChild {
  position: absolute;
  top: 103px;
  left: 72px;
  border-radius: 50%;
  width: 283px;
  height: 278px;
  object-fit: cover;
}
.contrasea {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.25px;
  line-height: 28px;
  font-weight: 500;
}
.contraseaWrapper {
  position: absolute;
  top: 12px;
  left: 96px;
  width: 87px;
  height: 28px;
}
.button {
  position: absolute;
  top: 614px;
  left: calc(50% - 140px);
  border-radius: var(--br-31xl);
  background-color: var(--neutral-300);
  width: 279px;
  height: 52px;
}
.correoElectrnicoWrapper {
  position: absolute;
  top: 12px;
  left: 73px;
  width: 138px;
  height: 28px;
}
.button1 {
  position: absolute;
  top: calc(50% + 52px);
  left: calc(50% - 142px);
  border-radius: var(--br-31xl);
  background-color: var(--neutral-300);
  width: 283px;
  height: 52px;
}
.ingresa {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.25px;
  line-height: 28px;
}
.ingresaWrapper {
  position: absolute;
  top: 12px;
  left: 78px;
  width: 58px;
  height: 28px;
}
.button2 {
  position: absolute;
  top: 736px;
  left: calc(50% - 108px);
  border-radius: var(--br-31xl);
  background: linear-gradient(
    269.52deg,
    #ff6361,
    #4f4f4f 0.01%,
    #6d6d6d 19.79%,
    #e5e5e5
  );
  width: 215px;
  height: 51px;
  cursor: pointer;
  color: #041427;
}
.holaAdmin {
  position: absolute;
  top: 452px;
  left: 145px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.25px;
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: #03111f;
}
.pantallaDeInicioDeSesin {
  position: relative;
  background-color: var(--color-silver);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
